# Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# Dependencies
**/packages/**/node_modules/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Test
test/